.hero {
    max-width: 1216px;
    padding: calc(8rem - 16px) 16px 11.5rem;
    margin: 0 auto;
  @media (max-width: $mobile) {
      padding: 64px 16px 120px;
  }
    &__description {
        font-style: normal;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: $gray;
        max-width: 780px;
        margin-bottom: 3.75rem;
        
    }
    &__image {
        width: 120px;
        height: 120px;
  @media (max-width: $mobile) {
    width: 80px;
    height: 80px;
    }
}
    &__link {
        color: $blue;
        font-weight: 400;
    }
    &__mail {
        color: $blue;
        font-weight: 400;
        font-size: 1.25rem;
        text-decoration: none;
        padding-bottom: 8px;
        border-bottom: 2px solid $blue;
    }
    &__tittle {
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3.5rem;
        max-width: 780px;
        margin: 2rem 0 1rem;
        @media (max-width: $mobile) {
            margin: 16px 0px 8px;
        }
    }
    
} 