@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext");
@import "modules/hero.scss";
@import "modules/skills.scss";

body {
  color: $big-stone;
  background: #fff;
  font-family: 'Lato', sans-serif;
  border: 16px solid $big-stone;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


